<section class="custom-bloggrid">
  <div class="custom-bloggrid__row">
    <div class="custom-bloggrid__item">
      <img src="assets/image/table.jpg" alt="How we perform long-running tasks using AWS services" class="custom-bloggrid__img" />
      <h3 class="custom-bloggrid__title">How we perform long-running tasks using AWS services</h3>
      <p class="custom-bloggrid__desc">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
      </p>
    </div>
    <div class="custom-bloggrid__item">
      <img src="assets/image/office.jpg" alt="How to ask when doing User Research" class="custom-bloggrid__img" />
      <a href="/cocaProject/post.html">
        <h3 class="custom-bloggrid__title">How to ask when doing User Research</h3>
      </a>
      <p class="custom-bloggrid__desc">
        Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?
      </p>
    </div>
  </div>
  <div class="custom-bloggrid__row">
    <div class="custom-bloggrid__item">
      <img src="assets/image/Business.jpg" alt="Layout Exploration — Simple exercise but big effect" class="custom-bloggrid__img" />
      <h3 class="custom-bloggrid__title">Layout Exploration — Simple exercise but big effect</h3>
      <p class="custom-bloggrid__desc">
        Make atomials or other option for the design we are making. For example, we are creating a website design. Then there is the testimonial section.
      </p>
    </div>
    <div class="custom-bloggrid__item">
      <img src="assets/image/meeting.jpg" alt="Webflow Break the Coding Barrier" class="custom-bloggrid__img" />
      <h3 class="custom-bloggrid__title">Webflow Break the Coding Barrier</h3>
      <p class="custom-bloggrid__desc">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
      </p>
    </div>
  </div>
</section>
